<section class="py-16 bg-base-200">
  <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-12">¿Porqué existimos? <strong>Problema y Contexto</strong></h2>
      <!-- Información 1 -->
      <div class="card lg:card-side bg-base-100 shadow-xl mb-8 overflow-hidden">
        <figure class="w-1/4 lg:w-1/2 m-0">
            <img src="images/ciberacoso.svg" alt="Ciberacoso" class="h-full w-full object-contain p-4" />
        </figure>
        <div class="card-body lg:w-1/2 flex flex-col justify-center items-center text-center py-12 h-full">
            <h3 class="card-title text-3xl md:text-5xl mb-4">Ciberacoso</h3>
            <p class="text-xl md:text-2xl">20.9% de usuarios en México han sido víctimas. Datos del INEGI, 2023.</p>
        </div>
      </div>

      <!-- Información 2 (Invertida) -->
      <div class="card lg:card-side bg-base-100 shadow-xl flex-row-reverse mb-8 overflow-hidden">
        <div class="card-body lg:w-1/2 flex flex-col justify-center items-center text-center py-12 h-full">
            <h3 class="card-title text-3xl md:text-5xl mb-4">Sexting</h3>
            <p class="text-xl md:text-2xl">65% de jóvenes entre 15 y 19 años lo ha practicado. Fuente: UNICEF.</p>
        </div>
        <figure class="w-1/4 lg:w-1/2 m-0">
            <img src="images/sexting.svg" alt="Sexting" class="h-full w-full object-contain p-4" />
        </figure>
      </div>

      <!-- Información 3 -->
      <div class="card lg:card-side bg-base-100 shadow-xl overflow-hidden">
        <figure class="w-1/4 lg:w-1/2 m-0">
            <img src="images/tiempo-en-linea.svg" alt="Tiempo en linea" class="h-full w-full object-contain p-4" />
        </figure>
        <div class="card-body lg:w-1/2 flex flex-col justify-center items-center text-center py-12 h-full">
            <h3 class="card-title text-3xl md:text-5xl mb-4">Tiempo en linea</h3>
            <p class="text-xl md:text-2xl">Adolescentes pasan hasta 5.6 horas diarias en internet. Aumenta su riesgo y exposición ante posibles ataques.</p>
        </div>
      </div>
  </div>
</section>
