<section class="py-16 bg-base-200">
  <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-12">¿Porqué existimos? <strong>Problema y Contexto</strong></h2>

      <!-- Información 1 -->
      <div class="card lg:card-side bg-base-100 shadow-xl mb-8">
          <figure class="lg:w-1/2">
              <img src="images/ciberacoso.svg" alt="Ciberacoso" class="h-full w-full object-cover" />
          </figure>
          <div class="card-body lg:w-1/2">
              <h3 class="card-title text-2xl">Ciberacoso</h3>
              <p>20.9% de usuarios en México han sido víctimas. Datos del INEGI, 2023.</p>
          </div>
      </div>

      <!-- Información 2 (Invertida) -->
      <div class="card lg:card-side bg-base-100 shadow-xl flex-row-reverse mb-8">
        <div class="card-body lg:w-1/2">
            <h3 class="card-title text-2xl">Sexting</h3>
            <p>65% de jóvenes entre 15 y 19 años lo ha practicado. Fuente: UNICEF.</p>
        </div>
          <figure class="lg:w-1/2">
              <img src="images/sexting.svg" alt="Sexting" class="h-full w-full object-cover" />
          </figure>
      </div>

      <!-- Información 3 -->
      <div class="card lg:card-side bg-base-100 shadow-xl">
          <figure class="lg:w-1/2">
              <img src="images/tiempo-en-linea.svg" alt="Tiempo en linea" class="h-full w-full object-cover" />
          </figure>
          <div class="card-body lg:w-1/2">
              <h3 class="card-title text-2xl">Tiempo en linea</h3>
              <p>Adolescentes pasan hasta 5.6 horas diarias en internet. Aumenta su riesgo y exposición ante posibles ataques.</p>
          </div>
      </div>
  </div>
</section>
