<section class="hero min-h-[70vh] bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse gap-8 py-12">
      <div class="w-full lg:w-1/2">
          <!-- Temporal -->
          <img src="images/hero-banner.jpg" alt="Hero" class="w-full rounded-lg shadow-2xl" />
      </div>
      <div class="w-full lg:w-1/2">
          <h1 class="text-4xl md:text-5xl font-bold">Seguridad Digital para estudiantes de
            <strong id="centro-universitario" class="inline-block relative">
              <span>Centro Universitario de Guadalajara</span>
            </strong>
          </h1>
          <p class="py-6 text-lg">CyberSea es una plataforma interactiva para tus mejorar tus habilidades y conocimientos de la seguridad en línea.</p>
          <button class="btn btn-primary">Comenzar Ahora</button>
      </div>
  </div>
</section>
