<section class="hero min-h-[70vh] bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse gap-8 py-12">
      <div class="w-full lg:w-1/2">
          <div class="mockup-phone">
            <div class="mockup-phone-camera"></div>
            <div class="mockup-phone-display">
              <img src="https://img.daisyui.com/images/stock/453966.webp" alt="phone-main">
            </div>
          </div>
      </div>
      <div class="w-full lg:w-1/2">
          <h1 class="text-4xl md:text-5xl font-bold">Ciberseguridad Interactiva</h1>
          <p class="py-6 text-lg">CyberSea es una plataforma interactiva para tus mejorar tus habilidades y conocimientos de la seguridad en línea.</p>
          <button class="btn btn-primary">Comenzar Ahora</button>
      </div>
  </div>
</section>
