<section class="py-16 bg-neutral">
  <div class="container mx-auto px-4 text-center">
      <h2 class="text-3xl font-bold mb-6">¿Listo para empezar?</h2>
      <p class="max-w-2xl mx-auto mb-8 text-lg">Unete a nuestra lista de subscripcion y enterate de noticias, propuestas, avances e invitaciones a pruebas cerradas.</p>

      <!-- Formulario de contacto simple -->
      <div class="max-w-md mx-auto card bg-base-100 shadow-xl">
          <div class="card-body">
              <h3 class="card-title text-secondary justify-center mb-4">Contáctanos</h3>
              <div class="form-control mb-4 text-secondary">
                  <input type="text" placeholder="Nombre" class="input input-bordered" />
              </div>
              <div class="form-control mb-4 text-secondary">
                  <input type="email" placeholder="Email" class="input input-bordered" />
              </div>
              <div class="form-control mb-6 text-secondary">
                  <textarea class="textarea textarea-bordered" placeholder="¿Te gustaria comentar algo?"></textarea>
              </div>
              <div class="form-control">
                  <button class="btn btn-primary">Enviar</button>
              </div>
          </div>
      </div>
  </div>
</section>
